/*------------------------------------------------------
    全ページ共通SCSS
------------------------------------------------------*/

@charset "utf-8";

@use "foundation";
@use "layout";

main {
    height: 100vh;
}