/*------------------------------------------------------
    color format (カラー設定)
------------------------------------------------------*/

// 基本カラー
$bg_white: #F4F4F4;
$white: #FFFFFF;
$blue: #0078E1;
$black: #303030;
$gray_01: #C9C9C9;
$gray_02: #F0F0F0;


// 学習ログカラー
$accent_green_01: #006556;
$accent_green_02: #00BCA0;
$accent_green_03: #91D4CA;
$accent_green_04: #E2E7E6;