/*------------------------------------------------------
    color format (カラー設定)
------------------------------------------------------*/

// 基本カラー
$bg_white: #F5F5F7;
$white: #FFFFFF;
$blue: #0078E1;
$black: #252525;
$gray_01: #646464;
$gray_02: #E1E7EB;


// 学習ログカラー
$accent_green_01: #006556;
$accent_green_02: #00BCA0;
$accent_green_03: #91D4CA;
$accent_green_04: #E2E7E6;