/*------------------------------------------------------
    header
------------------------------------------------------*/
@use "../global" as *;
@use "../component" as *;

.l-header {
    position: fixed;
    top: 20px;
    left: 20px;
    right: 20px;
    z-index: 100;
    max-width: 2000px;
    margin: 0 auto;

    border-radius: 7px;
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(30px);

    &__inner {
        width: min(100% - 40px, 2000px);
        height: 50px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        display: flex;
        align-items: center;
        gap: 20px;
        min-width: 200px;

        &__name {
            font-size: 14px;
            font-weight: bold;
            color: $black;
        }

        &__site {
            font-size: 12px;
            font-weight: bold;
            color: $gray_01;
        }
    }

    &__nav {
        position: relative;
        background-color: $gray_02;
        padding: 6px;
        border-radius: 50px;

        &__list {
            position: relative;
            display: flex;
            gap: 30px;
        }

        &__item {
            position: relative;
            z-index: 2;
            cursor: pointer;

            a {
                display: block;
                padding: 3px 14px;
                font-size: 12px;
                font-weight: bold;
                color: $black;
                white-space: nowrap;
            }
        }

        /* =========================
       背景マーカー（JS制御）
       ========================= */
        &__marker {
            position: absolute;
            top: 0;
            left: 0;
            transform: translateY(-50%);
            width: 100px; // ← 横サイズ固定
            height: 22px; // ← 高さ固定
            background-color: $white;
            border-radius: 50px;
            z-index: 1;

            transition:
                transform 0.32s cubic-bezier(0.4, 0, 0.2, 1),

        }
    }

    &__btn {
        background-color: $white;
        padding: 5px 40px;
        border-radius: 50px;
        border: 4px solid $gray_02;
        transition: .4s;

        a {
            font-size: 12px;
            font-weight: bold;
            color: $black;
            transition: .4s;
        }

        &:hover {
            background-color: $black;
            border-color: $black;

            a {
                color: $white;
            }
        }
    }
}

@include bp(sp) {}