@use "../global" as *;

@mixin my-btn {
    margin-top: 60px;
    width: 145px;
    margin-bottom: 20px;
    background-color: $black;
    color: $white;
    padding: 10px;
    border-radius: 50px;
    border: 1px solid transparent;
    transition: .2s;
    cursor: pointer;
    font-size: 14px;

    &:hover {
        background-color: $white;
        border: 1px solid $black;
        color: $black;
    }
}