@mixin card($pattern) {
    @if $pattern =='white' {
        background-color: #FFFFFF;
        padding: 25px;
        border-radius: 20px;
        // box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.05);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    @if $pattern =='login' {
        background-color: #FFFFFF;
        padding: 25px;
        border-radius: 20px;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.05);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }
}