/*------------------------------------------------------
    reset
------------------------------------------------------*/

html, body, h1, h2, h3, h4, ul, ol, dl, li, dt, dd, p, div, span, img, a, table, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	letter-spacing: 0.5px;
	font-weight: normal;
	font-size: 100%;
	vertical-align:baseline;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	
	word-wrap: break-word;
}

html {
	height: 100%;
	scroll-behavior: smooth;
}

body {
	width: 100%;
	overflow-x: hidden;
}
ul, li {
	list-style: none;
}

img,
video,
object {
	max-width: 100%;
	height: auto;
	border: none;
	display: block;
}


a {
	text-decoration: none;
	transition: 0.4s;
	&:hover {
		text-decoration: none;
	}
}

a:hover img {
	text-decoration: none;
	opacity: 0.8;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}